
:root {
    font-size: 62.5%;
    --primary-color: #407Bff;
    --light-background: #F7F9F9;
    --primary-text: #263238;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:hover {
    color: var(--primary-color);
}

body {
    font-family: 'Hind Madurai', sans-serif;
    padding: 0 4rem;
}

.header__content {
    align-items: center;
    display: flex;
    height: 6.5rem;
    justify-content: space-between;
    width: 100%;
}

.header__content-logo {
    padding-left: 9rem;
}

.menu__content {
    column-gap: 4rem;
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 400;
    list-style: none;
    padding-right: 9rem;
}

.navigation__content i {
    display: none;
}

.main__content {
    align-items: center;
    column-gap: 11.4rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    width: 100%;
}

.text__content-erro {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.4rem;
    margin-left: 0.4rem;
    
}

.text__content-title {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 8rem;
    line-height: 120%;
}

.text__content-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
}

.button {
    align-items: center;
    background: var(--primary-color);
    border-radius: .5rem;
    color: var(--light-background);
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    height: 4.4rem;
    justify-content: center;
    margin-top: 2.3rem;
    transition: .2s;
    width: 11.7rem;
}


.button:hover {
    opacity: .8;
    transition: .2s;
}

.foo__content {
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
    left: 0;
    text-align: center;
    width: 100%;
}

.four {
    animation: fourAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.165, 2.84, 0.44, 1);
    transition: 5.2s;
}


 @keyframes fourAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);

    }
    100% {
        transform: translateY(0px);
    }
} 

@media screen and (max-width: 1080px) {
.main__content {
    column-gap: 2rem;
}

.menu__content {
    padding-right: 2rem;
}

.header__content-logo {
    padding-left: 2rem;
}

}
@media screen and (max-width: 840px) {
    .image__content svg {
       width: 40rem;
}

.main__content {
    column-gap: 0;
}

.image__content {
    margin-inline: 0 auto;
}

.menu__content {
    display: none;
}

.navigation__content {
    align-items: center;
    display: flex;
    height: 6.5rem;
    justify-content: flex-end;
    width: 100%;
}

.navigation__content i {
    display: inherit;
    font-size: 2.6rem;
}

}

@media screen and (max-width: 750px) { 

body {
    padding: 1rem;
}

.main__content {
    margin-top: 2rem;
    flex-direction: column-reverse;
    width: 100%;
}

.image__content svg {
    height: auto;
    width: 30rem;

}
.image__content{
    margin-inline: auto;
}

.text__content-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 6rem;
    text-align: center;
}

.text__content-description {
    text-align: center;
}

.text__content-erro {
    font-size: 1.8rem;
    text-align: center;
}

.button {
    font-size: 1.6rem;
    font-weight: 600;
    height: 5.6rem;
    width: 25.8rem;
}

.header__content-logo svg {
    width: 10rem;
}

}